
body{
	max-width: 700px;
	width: 80%;
	margin: 5px auto;
	border: 10px solid #f47d42;
	padding: 15px;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-family: Source Sans Pro;
}

.heading{
	text-transform: capitalize;
	color: #2c3e50;
	font-size: 2.0rem;
}

.first{
	border-left: 4px solid #f47d42;
	padding-left: 5px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}