h1{
	color: rgb(0,0,255);
	border: rgb(12,18,32);
	border-width:5px;
	border-style: double;

}

label{
	color: rgb(255,0,0);
}

body{
	background: url(https://cdn.tmobile.com/content/dam/t-mobile/assets/backgrounds/offer-full-bleed/general/bg-hero-full-iphone_xr_hero.desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

form{
	background-color: rgb(120,210,100);
	border: rgb(12,18,32) 3px solid;
	/*border-width:3px;
	border-style:solid;*/

}