img{
	float: left;
	width: 25%;
	height: 300px;
	margin: 4.16%;

}
p{
	font-family: Lobster;
	margin-left: 4.16%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 25%;
	padding-bottom: 15px;
}